<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hcgl.hcglproviderhcwh.dao.QysswjXxzxTYwPpwhDao">

    <resultMap type="com.hcgl.hcglproviderhcwh.entity.QysswjXxzxTYwPpwh" id="QysswjXxzxTYwPpwhMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="ppmc" column="ppmc" jdbcType="VARCHAR"/>
        <result property="lxid" column="lxid" jdbcType="VARCHAR"/>
        <result property="lxmc" column="lxmc" jdbcType="VARCHAR"/>
        <result property="createtime" column="createtime" jdbcType="OTHER"/>
        <result property="zt" column="zt" jdbcType="VARCHAR"/>
        <result property="bz" column="bz" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="QysswjXxzxTYwPpwhMap">
        select
          id, ppmc, lxid, lxmc, createtime, zt, bz
        from qysw.qysswj_xxzx_t_yw_ppwh
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="QysswjXxzxTYwPpwhMap">
        select
          id, ppmc, lxid, lxmc, createtime, zt, bz
        from qysw.qysswj_xxzx_t_yw_ppwh
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="QysswjXxzxTYwPpwhMap">
        select
          id, ppmc, lxid, lxmc, createtime, zt, bz
        from qysw.qysswj_xxzx_t_yw_ppwh
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="ppmc != null and ppmc != ''">
                and ppmc = #{ppmc}
            </if>
            <if test="lxid != null and lxid != ''">
                and lxid = #{lxid}
            </if>
            <if test="lxmc != null and lxmc != ''">
                and lxmc = #{lxmc}
            </if>
            <if test="createtime != null">
                and createtime = #{createtime}
            </if>
            <if test="zt != null and zt != ''">
                and zt = #{zt}
            </if>
            <if test="bz != null and bz != ''">
                and bz = #{bz}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into qysw.qysswj_xxzx_t_yw_ppwh(ppmc, lxid, lxmc, createtime, zt, bz)
        values (#{ppmc}, #{lxid}, #{lxmc}, #{createtime}, #{zt}, #{bz})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update qysw.qysswj_xxzx_t_yw_ppwh
        <set>
            <if test="ppmc != null and ppmc != ''">
                ppmc = #{ppmc},
            </if>
            <if test="lxid != null and lxid != ''">
                lxid = #{lxid},
            </if>
            <if test="lxmc != null and lxmc != ''">
                lxmc = #{lxmc},
            </if>
            <if test="createtime != null">
                createtime = #{createtime},
            </if>
            <if test="zt != null and zt != ''">
                zt = #{zt},
            </if>
            <if test="bz != null and bz != ''">
                bz = #{bz},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from qysw.qysswj_xxzx_t_yw_ppwh where id = #{id}
    </delete>

</mapper>